{% extends "spirit/_base.html" %}

{% load spirit_tags i18n %}

{% block title %}{{ topic.title }}{% endblock %}

{% block content %}

        <h1 class="headline"><i class="fa fa-user-secret" style="color: red"></i> {{ topic.title }}</h1>

        {% include "spirit/comment/_render_list.html" %}

        {# this can be *included* here and in topic_detail #}
        <div class="container">
            {% render_paginator comments %}

        </div>

{% endblock %}
