{% load i18n %}
<ul class="menu">
    {% if category.parent %}
        <li><a class="menu-link" href="{{ category.parent.get_absolute_url }}" >{% trans "All Subcategories" %}</a></li>
    {% else %}
        {% for category in categories %}
            {% include 'spirit/category/_menu_link.html' with category=category %}
                {% for subc in category.subcategories %}
                    {% include 'spirit/category/_menu_link.html' with category=subc indent=True %}
                {% endfor %}
        {% endfor %}
    {% endif %}
</ul>