{% load spirit_tags i18n %}

{# topic list #}
        <div class="rows">

        {% for t in topics %}
			<div class="row"{% if indent %} style="margin-left: 50px;"{% endif %}>

                <div class="row-title">
                    {% if t.is_pinned or t.is_globally_pinned %}
                        <i class="fa fa-thumb-tack"></i>
                    {% endif %}
{#                    {% if t.is_removed %}#}
{#                        <i class="fa fa-trash"></i>#}
{#                    {% endif %}#}
                    {% if t.is_closed %}
                        <i class="fa fa-lock"></i>
                    {% endif %}

                    <a class="row-link{% if t.is_visited %} is-visited{% endif %}" href="{{ t.get_bookmark_url }}">{{ t.title }}</a>
                </div>
                <div class="row-info">
                    <div>

                        {% if not hide_category %}
                            {% if show_subcategory %}
                                <a {% if t.category.color %}style="color: {{ t.category.color }};"{% endif %} href="{{ t.category.get_absolute_url }}">
                                    {{ t.category.title }}
                                </a>
                            {% else %}
                                {% if t.category.parent %}
                                    <a {% if t.category.parent.color %}style="color: {{ t.category.parent.color }};"{% endif %} href="{{ t.category.parent.get_absolute_url }}">
                                        {{ t.category.parent.title }}
                                    </a>
                                {% else %}
                                    <a {% if t.category.color %}style="color: {{ t.category.color }};"{% endif %} href="{{ t.category.get_absolute_url }}">
                                        {{ t.category.title }}
                                    </a>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </div><!--
                    --><div><i class="fa fa-comment{% if t.has_new_comments %} js-comment-is-new{% endif %}"></i> {{ t.comment_count }}</div><!--
                 --><div title="{{ t.last_active }}"><i class="fa fa-clock-o"></i> {{ t.last_active|shortnaturaltime }}</div>
                </div>

			</div>
        {% empty %}
            <p{% if indent %} style="margin-left: 50px;"{% endif %}>{% if last_seen %}{% trans "There is no changes in topics since your last visit" %}{% else %}{% trans "There are no topics here, yet" %}{% endif %}</p>
        {% endfor %}

		</div>

<script>
    $(document).ready(function() {
        // .is_new depends on js (bookmarks)
        $('.js-comment-is-new').addClass('is-new');
    });
</script>
