{% load i18n %}

<div class="container">
    <div class="categories js-tabs-container">
        <ul class="nav" style="font-size: 16px;">
            <li>
                {% if last_seen %}
                    <a class="dropdown-button" href="{% url "spirit:index" %}">{% trans "Main" %}</a>
                {% else %}
                    {% trans "Main" %}
                {% endif %}
                <i class="fa fa-chevron-right"></i></li>
            <li>
                <a class="dropdown-button js-tab" href="#" data-related=".js-categories-content" style="color: #999;">
                    {% trans "All Categories" %} <i class="fa fa-chevron-down"></i>
                </a>
            </li>
        </ul>

        <div class="tab-content js-tab-content js-categories-content" style="margin-left: 85px;">
            <ul class="menu">
                {% for category in categories %}
                    {% include 'spirit/category/_menu_link.html' with category=category %}
                    {% for subc in category.subcategories %}
                        {% include 'spirit/category/_menu_link.html' with category=subc indent=True %}
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="new-topic">
        <a class="button" href="{% url "spirit:topic:publish" %}">{% trans "Create Topic" %}</a>
    </div>
</div>