{% if category.is_closed %}<i class="fa fa-lock"></i>{% endif %}
{% if category.is_private %}<i class="fa fa-user-secret" style="color: red"></i>{% endif %}
{% if category.is_protected %}<i class="fa fa-eye-slash" style="color: orangered"></i>{% endif %}
<a{% if category.color %} style="color: {{ category.color }};"{% endif %} href="{{ category.get_absolute_url }}">
{{ category.title }}</a>