{% load i18n %}

<div class="container">
    <div class="categories js-tabs-container">
        <ul class="nav" style="font-size: 16px;">{% if category %}
            <li><a class="dropdown-button" href="{% url "spirit:index" %}">{% trans "Main" %}</a> <i class="fa fa-chevron-right"></i></li>
            {% if category.parent %}
                <li><a class="dropdown-button js-tab" href="#" data-related=".js-categories-content">{{ category.parent.title }} <i class="fa fa-chevron-right"></i></a></li>
                <li><a class="dropdown-button js-tab" href="#" data-related=".js-sub-categories-content">{{ category.title }} <i class="fa fa-chevron-down"></i></a></li>
            {% else %}
                <li><a class="dropdown-button js-tab" href="#" data-related=".js-categories-content">{{ category.title }} <i class="fa fa-chevron-right"></i></a></li>
                <li><a class="dropdown-button js-tab" href="#" data-related=".js-sub-categories-content" style="color: #999;">{% trans "All Subcategories" %} <i class="fa fa-chevron-down"></i></a></li>
            {% endif %}
        {% else %}
            <li>{% trans "Main" %} <i class="fa fa-chevron-right"></i></li>
            <li><a class="dropdown-button js-tab" href="#" data-related=".js-categories-content" style="color: #999;">{% trans "All Categories" %} <i class="fa fa-chevron-down"></i></a></li>
        {% endif %}</ul>

        <div class="tab-content js-tab-content js-categories-content" style="margin-left: 85px;">
            {% include "spirit/topic/_menu.html" with category=None categories=all_visible_categories %}
        </div>

        <div class="tab-content js-tab-content js-sub-categories-content" style="margin-left: {% if category.parent %}{{ category.parent.tab }}{% else %}{{ category.tab }}{% endif %}px;">
            {% include "spirit/topic/_menu.html" with category=category categories=categories %}
        </div>
    </div>

    <div class="new-topic">
        {% if category %}
            <a class="button" href="{% url "spirit:topic:publish" category.pk %}">{% trans "Create Topic" %}</a>
        {% else %}
            <a class="button" href="{% url "spirit:topic:publish" %}">{% trans "Create Topic" %}</a>
        {% endif %}
    </div>
</div>