{% extends "spirit/_base.html" %}

{% load spirit_tags i18n %}

{% block title %}
    {% if struct %}
        {% trans "Topics by Category" %}
    {% else %}
        {% trans "Categories" %}
    {% endif %}
{% endblock %}

{% block content %}
    {% include "spirit/topic/_top_bar.html" with category=None categories=categories %}

    {% for category in categories %}
        <h2>{% include "spirit/category/_title.html" with category=category %}</h2>

        {% if struct %}
            {% include "spirit/topic/_render_list.html" with topics=category.topics hide_category=True indent=True%}
        {% endif %}

        <div class="subc" style="margin-left: 50px;">
            {% for subc in category.subcategories %}
                <h3>{% include "spirit/category/_title.html" with category=subc %}</h3>

            {% if struct %}
                {% include "spirit/topic/_render_list.html" with topics=subc.topics hide_category=True indent=True %}
            {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}
