{% load i18n %}
{{ config.template_footer|safe }}

    <footer class="footer">
		<div class="footer-container">
            <a class="footer-logo" href="http://www.spirit-project.com" >Spirit</a>
            <a href="mailto:admin@{{ site_name }}" class="footer-logo" style="float: left;"><i class="fa fa-envelope-o"></i> {% trans "Send mail to administrator" %}</a>
        </div>
	</footer>